{{ $permalink := .Permalink }}

<div class="post-card mx-auto">
    <a href="{{ .Permalink }}">
        <div>
            {{ $title := .Title}}
            {{ with .Params.image }}
                <img src="
                {{ if hasPrefix . "/" }}
                {{ . }}
                {{ else }}
                {{ printf "%s%s" $permalink . }}
                {{ end }}
                " alt="{{ $title }}">
            {{ end }}
        </div>
        <h3>{{ .Title }}</h3>
        {{ if isset .Params "description"}}
        <p>{{ .Description }}</p>
        {{ else }}
        <p>{{ .Summary | plainify | safeHTML | chomp }}</p>
        {{ end }}
    </a>
    {{ range .Params.categories }}
        <a class="postlist-category" href="/categories/{{ . | urlize }}">{{ . }}</a>
    {{ end }}
</div>
