@media (max-width: 991.98px) {
  .navbar .bd-navbar-toggle {
    width: 3 * 40px;
  }
}

.max-800px {
    max-width: 800px !important;
}

.max-1000px {
    max-width: 1000px !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  font-weight: bold;
}

.navbar-brand {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.resume {
  font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif
}

.resume .resume-name {
    font-family: Signika, sans-serif;
}

// resume css

.profile-image {
  object-fit: cover;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

.timeline {
  position: relative;
  padding-left: 30px;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 3px;
  bottom: 20px;
  width: 3px;
  background: #555;
}

.timeline-item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 10px;
  margin-left: -10px;
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: -29px;
  top: 3px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #555;
}

@media (max-width: 991.98px) {
  .timeline::before {
    left: 10px;
  }

  .timeline-item {
    margin-left: 0px;
  }
}

.resume-dl dt::after {
    content: " :";
    color: var(--bs-secondary-color);
}

.resume-dl .fr {
    float: none;
    display: inline-block;
    margin-left: .25rem;
}

.resume-dl .fl {
    float: left;
}

// resume end

[data-bs-theme=dark] .link-dark {
  color: RGBA(var(--bs-light-rgb), var(--bs-link-opacity, 1)) !important;
  text-decoration-color: RGBA(var(--bs-light-rgb), var(--bs-link-underline-opacity, 1)) !important;
}

[data-bs-theme=dark] .link-dark:hover,
[data-bs-theme=dark] .link-dark:focus {
  color: RGBA(249, 250, 251, var(--bs-link-opacity, 1)) !important;
  text-decoration-color: RGBA(249, 250, 251, var(--bs-link-underline-opacity, 1)) !important;
}

.navbar-brand {
  font-family: Impact, Signika, sans-serif;
  font-size: 1.5em;
}

.footer {
  font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif
}

.navbar .navbar-toggler {
  border: 0;
}

// post list
.post-title {
    color: var(--bs-body-color);
    text-decoration: none;
}

.list-category {
    color: var(--bs-primary);
    font-weight: bold;
    text-decoration: none;
}

.list-tag {
    border-radius: 4px;
    text-decoration: none;
    color: var(--bs-primary-border-subtle)
}
