$navbar-dark-active-color: red;
$navbar-padding-x: 0.5rem;

$navbar-light-active-color: #2c4f8d;
$primary: #2c4f8d;

$font-family-base: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
