// post list
.post-title {
  color: var(--bs-body-color);
  text-decoration: none;
}

.list-category {
  color: var(--bs-primary);
  font-weight: bold;
  text-decoration: none;
}

.list-tag {
  border-radius: 4px;
  text-decoration: none;
  color: var(--bs-primary);
  transition-duration: 0.2s
}

.list-tag:hover {
  color: white;
  background-color: var(--bs-primary);
  transition-duration: 0.2s
}

// post list

.post-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 3rem;
  justify-items: center;
  justify-content: center;
  margin-top: 2.75rem;
}

.postcards-category {
  padding: 0.75rem 1.125rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 2.5rem;
  line-height: 0.875rem;
  font-size: 0.9375rem;
  cursor: pointer;
  text-decoration: none;
  background-color: #f2f3f6;
  color: #868b94;
}

.postcards-category-active {
  background-color: #212124;
  color: #fff;
  font-weight: bold;
}

.post-card {
  width: 22.5rem;
  min-height: 20rem;
  transition: all .3s ease-in-out;
}

.post-card:hover {
  transform: translateY(-8px);
}

.post-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 1.25rem;
  height: 13.1rem;
}

.post-card h3 {
  width: 100%;
  margin-top: 1.25rem;
  color: black;
  font-size: 1.375rem;
  font-weight: bold;
}

.post-card p {
  width: 100%;
  margin-top: 0.625rem;
  margin-bottom: 0;
  color: gray;
  font-size: 1rem;
  white-space: pre-line;
}

.post-card a {
  text-decoration: none;
}

.postlist-category {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem 0.625rem;
  margin-top: 1.125rem;
  border: none;
  border-radius: 2.5rem;
  background-color: #f2f3f6;
  color: #868b94;
  font-size: 0.8125rem;
  line-height: 1.375rem;
  text-decoration: none;
  cursor: pointer;
}


@media (min-width: 1096px) {
  .post-card h3 {
    font-size: 1.625rem;
  }
}


@media (min-width: 880px) {
  .post-list {
    grid-template-columns: repeat(2, 1fr);
    ;
  }

  .postcards-category {
    margin-right: 0.625rem;
    padding: 0.875rem 1.25rem;
    font-size: 1.125rem;
  }
}


@media (min-width: 36em) {
  .post-card {
    width: 23.75rem;
    height: 22.5rem;
  }

  .post-card p {
    margin-top: 0.75rem;
  }

  .post-card img {
    height: 13.1rem;
  }

  .postlist-category {
    margin-top: 1.5rem;
  }
}

@media (min-width: 62em) {
  .post-card {
    width: 27.5rem;
    height: 26.25rem;
  }

  .post-card img {
    height: 15.3rem;
  }

  .postlist-category {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 75em) {
  .post-card {
    width: 30rem;
    height: 28.75rem;
  }

  .post-card img {
    height: 16.75rem;
  }
}
