<footer class="bg-body-tertiary pt-4">
  <div class="container max-1200px footer">
    <nav class="d-flex justify-content-between">
      <ul class="footer-ul d-flex ps-0">
        {{ range .Site.Menus.footer }}
        <li class="me-5 link-underline-opacity-0">
          <a href="{{ .URL }}"
            class="link-dark">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
      <ul class="d-flex justify-content-between" style="width: 200px">
        {{ range .Site.Menus.social }}
        <li>
          <a class="nav-link" aria-current="page" href="{{ .URL }}" title="{{ .Name }}">
            <i class='{{ .Pre }}' style="font-size: 1.5em;"></i>
          </a>
        </li>
        {{ end }}
        <li>
          {{- partial "toggle.html" . -}}
        </li>
      </ul>
    </nav>
    <div class="pb-4">
      <p class="small text-body-secondary">© 2024 <a
        class="fw-semibold link-secondary link-offset-1 link-underline-opacity-0 link-underline-opacity-100-hover"
        href="{{.Params.baseURL}}">Jinho Choi</a>. Some rights reserved.</p>
    </div>
  </div>
  <!-- <div class="container max-900px">
    <div class="row text-center justify-content-between align-text-top">
      <div class="d-flex col-md-3 text-end order-md-1 justify-content-center">
        {{ range .Site.Menus.social }}
        <button class="navbar-toggler d-flex p-2" type="button">
          <a class="nav-link" aria-current="page" href="{{ .URL }}" title="{{ .Name }}">
            <span class="icon d-inline-block align-text-top">
              <i class='{{ .Pre }}' style="font-size: 1.2em;"></i>
            </span>
          </a>
        </button>
        {{ end }}
        <button class="navbar-toggler d-flex order-3 p-2" type="button">
          {{- partial "toggle.html" . -}}
        </button>
      </div>
      <div class="col-md-4 row footer-menu order-md-0">
      {{ range .Site.Menus.footer }}
        <div class="col-md mb-2">
          <a href="{{ .URL }}"
            class="link-dark link-offset-1 link-underline-opacity-0 link-underline-opacity-100-hover">{{ .Name }}</a>
        </div>
      {{ end }}
      </div>
    </div>
    <div class="row">
      <p class="small text-body-secondary">© 2024 <a
          class="fw-semibold link-secondary link-offset-1 link-underline-opacity-0 link-underline-opacity-100-hover"
          href="{{.Params.baseURL}}">Jinho Choi</a>. Some rights reserved.</p>
    </div>
  </div> -->
</footer>
