<input id="theme-switcher" data-theme-switcher="" type="checkbox" style="display: none;">
<label for="theme-switcher" class="nav-link"><span class="sr-only">theme switcher</span>
  <i class='fas fa fa-adjust' style="font-size: 1.5em;"></i>
</label>

<script>
  let darkMode = window.matchMedia("(prefers-color-scheme: dark)").matches;

  if (localStorage.getItem("theme") === "dark") {
    darkMode = true;
  } else if (localStorage.getItem("theme") === "light") {
    darkMode = false;
  }

  document.addEventListener("DOMContentLoaded", () => {
    if (darkMode) {
      document.documentElement.setAttribute('data-bs-theme', 'dark');
    } else {
      document.documentElement.setAttribute('data-bs-theme', 'light');
    }

    const themeSwitch = document.querySelectorAll("[data-theme-switcher]");
    themeSwitch.forEach((switcher) => {
      switcher.checked = darkMode;
      switcher.addEventListener("click", () => {
        if (document.documentElement.getAttribute('data-bs-theme') === 'dark') {
          document.documentElement.setAttribute('data-bs-theme', 'light');
        } else {
          document.documentElement.setAttribute('data-bs-theme', 'dark');
        }
        localStorage.setItem("theme", document.documentElement.getAttribute('data-bs-theme'));
      });
    });
  });
</script>
